import { Node, Edge } from 'reactflow';

const content: Node[] = [
{% for subsection in section.subsections -%}
{% set subsection = get_section(path=subsection) -%}
{% set parent_index = loop.index -%}
{
id: '{{parent_index}}',
data: { label: '{{subsection.title}}', children: {{ subsection.pages | length }} },
position: { x: {{subsection.extra.pos[0]}}, y: {{subsection.extra.pos[1]}} },
className: 'light',
draggable: false,
type: 'section',
},
{% for page in subsection.pages -%}
{
id: '{{parent_index}}-{{loop.index}}',
data: { label: '{{page.title | safe}}', path: '{{page.path | safe}}' },
position: { x: 20, y: {{loop.index0 * 50 + 50}} },
parentId: '{{parent_index}}',
draggable: false,
type: 'page',
},
{% endfor -%}
{% endfor -%}
];


const dependencies: Edge[] = [
{% for subsection in section.subsections -%}
{% set subsection = get_section(path=subsection) -%}
{% set parent_index = loop.index -%}
{% for page in subsection.pages -%}
{% set page_index = loop.index -%}
{% set page_id = parent_index ~ "-" ~ page_index -%}
{% if page.extra.dependencies -%}
{% for dependency in page.extra.dependencies -%}
{% for subsection in section.subsections -%}
{% set subsection = get_section(path=subsection) -%}
{% set parent_index = loop.index -%}
{% for page in subsection.pages -%}
{% set page_index = loop.index -%}
{% if dependency == page.path -%}
{% set dependency_id = parent_index ~ "-" ~ page_index -%}
{ id: '{{page_id}}-{{dependency_id}}', target: '{{page_id}}', source: '{{dependency_id}}' },
{% endif -%}
{% endfor -%}
{% endfor -%}
{% endfor -%}
{% endif -%}
{% endfor -%}
{% endfor -%}
];

export default { content, dependencies };